<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kamopos.hairdressingbeauty"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <application
        android:name="com.kamopos.hairdressingbeauty.app.HairdressingBeautyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        <activity
            android:name="com.kamopos.hairdressingbeauty.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.kamopos.hairdressingbeauty.ui.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.kamopos.hairdressingbeauty.ui.WelcomeActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.kamopos.hairdressingbeauty.ui.cashier.CashierActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.kamopos.hairdressingbeauty.ui.storemanagement.StoreManagementActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.kamopos.hairdressingbeauty.ui.serviceproductmanagement.ServiceProductManagementActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.kamopos.hairdressingbeauty.ui.promotion.PromotionActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>